.header .wrapper
{
width:80%;
margin:auto;
}
.banner .wrapper
{
width:80%;
margin:auto;
}
.logo .wrapper
{
width:80%;
margin:auto;
}
.provident.wrapper
{
width:80%;
margin:auto;
}
.contentbox.wrapper
{
width:80%;
margin:auto;
}
.services.wrapper
{
width:80%;
margin:auto;
}
.calltoaction.wrapper
{
width:80%;
margin:auto;
}
.testimonials.wrapper
{
width:80%;
margin:auto;
}
.portfolio .wrapper
{
width:80%;
margin:auto;
}
.team .wrapper
{
width:80%;
margin:auto;
}
.pricing .wrapper
{
width:80%;
margin:auto;
}
.faq .wrapper
{
width:80%;
margin:auto;
}
.contact .wrapper
{
width:80%;
margin:auto;
}
.about .wrapper
{
width:80%;
margin:auto;
}
.copyright .wrapper
{
width:80%;
margin:auto;
}

.header
{
	background-color:royalblue ;
	height:85px;
}
.banner
{
	background-color:orchid;
	height:580px;
}
.banner .banner-fc
{
	display:flex;
	justify-content:center;
	margin-top:50px;
	flex-wrap:wrap;
	text-align:center;
	align-items:center;
}
.banner .banner-fc .boxa
{
	background-color:lightgreen;
	height:81px;
	width:380px;
	text-align:center;
	margin-bottom:40px;
	margin-left:10px;
}
.banner .banner-fc .boxb
{
	background-color:deepskyblue;
	height:130px;
	width:743px;
	text-align:center;
	margin-bottom:30px;
	margin-left:40px;
}
.banner .banner-fc .boxc
{
	background-color:lightgreen;
	height:60px;
	width:218px;
	text-align:center;
	margin-right:80px;
}
.about
{
	background-color:lightpink;
	height:337px;
}
.about .about-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	text-align:center;
}
.about .about-fc .boxa
{
	width:577px;
	height:205px;
	margin-top:60px;
	background-color:lightcyan;
	margin-right:40px;
}
.about .about-fc .boxb
{
	background-color:lightgreen;
	width:577px;
	height:205px;
	margin-top:60px;
	margin-right:40px;
}
.services
{
	background-color:gray;
	height:927px;
}
.services .services-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	text-align:center;
}
.services .services-fc .boxa
{
	width:300px;
	height:295px;
	margin-top:100px;
	background-color:lightpink;
	text-align:center;
}
.services .services-fc .boxb
{
	background-color:lightblue;
	width:300px;
	height:295px;
	text-align:center;
	margin-top:100px;
}
.services .services-fc .boxc
{
	background-color:lightpink;
	width:300px;
	height:295px;
	margin-top:100px;
	text-align:center;
}
.services .services-fc .boxd
{
	width:300px;
	height:295px;
	background-color:plum;
	margin-top:100px;
	text-align:center;
}
.services .services-fc .boxe
{
	width:300px;
	height:295px;
	background-color:white;
	margin-top:100px;
	text-align:center;
}
.services .services-fc .boxf
{
	width:300px;
	height:295px;
	background-color:powderblue;
	margin-top:100px;
	text-align:center;
}
.services .servicesa-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	text-align:center;
}
.services .servicesa-fc .boxa
{
	width:260px;
	height:72px;
	margin-top:100px;
	margin-left:40px;
	background-color:plum;
	text-align:center;
}
.services .servicesa-fc .boxb
{
	background-color:powderblue;
	width:260px;
	height:72px;
	text-align:center;
	margin-top:100px;
	margin-right:40px;
}
.services .servicesa-fc .boxc
{
	background-color:plum;
	width:260px;
	height:72px;
	margin-top:100px;
	text-align:center;
	margin-left:40px;
}
.services .servicesa-fc .boxd
{
	width:260px;
	height:72px;
	background-color:powderblue;
	margin-top:100px;
	text-align:center;
	margin-right:40px;
}
.services .servicesa-fc .boxe
{
	width:260px;
	height:72px;
	background-color:plum;
	margin-top:50px;
	margin-left:40px;
	text-align:center;
}
.services .servicesa-fc .boxf
{
	width:260px;
	height:72px;
	background-color:powderblue;
	margin-top:50px;
	text-align:center;
	margin-right:40px;
}
.services .servicesa-fc .boxg
{
	width:260px;
	height:72px;
	background-color:plum;
	margin-top:50px;
	text-align:center;
	margin-left:40px;
}
.services .servicesa-fc .boxh
{
	width:260px;
	height:72px;
	background-color:powderblue;
	margin-top:50px;
	text-align:center;
	margin-right:40px;
}
.services .servicesa-fc .boxi
{
	width:260px;
	height:72px;
	background-color:plum;
	margin-top:50px;
	text-align:center;
	margin-left:40px;
}
.services .servicesa-fc .boxj
{
	width:260px;
	height:72px;
	margin-top:50px;
	background-color:powderblue;
	text-align:center;
	margin-right:40px;
}
.services .servicesa-fc .boxk
{
	background-color:plum;
	width:260px;
	height:72px;
	text-align:center;
	margin-top:50px;
	margin-left:40px;
}
.services .servicesa-fc .boxl
{
	background-color:powderblue;
	width:260px;
	height:72px;
	margin-top:50px;
	text-align:center;
	margin-right:40px;
}
.calltoaction
{
	background-color:powderblue;
	height:280px;
}
.calltoaction .calltoaction-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	text-align:center;
}
.calltoaction .calltoaction-fc .boxa
{
	width:233px;
	height:70px;
	margin-top:120px;
	background-color:white;
	text-align:center;
}
.portfolio
{
	background-color:violet;
	height:1323px;
}
.portfolio .portfolio-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	text-align:center;
}
.portfolio .portfolio-fc .boxa
{
	width:300px;
	height:266px;
	margin-top:250px;
	background-color:white;
}
.portfolio .portfolio-fc .boxb
{
	background-color:white;
	width:300px;
	height:266px;
	text-align:center;
	margin-top:250px;
}
.portfolio .portfolio-fc .boxc
{
	background-color:white;
	width:300px;
	height:266px;
	margin-top:250px;
}
.portfolio .portfolio-fc .boxd
{
	width:300px;
	height:266px;
	background-color:white;
	margin-top:40px;
}
.portfolio .portfolio-fc .boxe
{
	background-color:white;
	width:300px;
	height:266px;
	margin-top:40px;
}
.portfolio .portfolio-fc .boxf
{
	width:300px;
	height:266px;
	background-color:white;
	margin-top:40px;
}
.portfolio .portfolio-fc .boxg
{
	width:300px;
	height:266px;
	background-color:white;
	margin-top:40px;
}
.portfolio .portfolio-fc .boxh
{
	background-color:white;
	width:300px;
	height:266px;
	margin-top:40px;
}
.portfolio .portfolio-fc .boxi
{
	width:300px;
	height:266px;
	background-color:white;
	margin-top:40px;
}
.pricing
{
	background-color:MediumPurple;
	height:782px;
}
.pricing .pricing-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	text-align:center;
}
.pricing .pricing-fc .boxs
{
	text-align:center;
	margin-top:80px;
	margin-top:90px;
}
.pricing .pricing-fc .boxa
{
	width:356px;
	height:457px;
	margin-top:150px;
	background-color:white;
	margin-right:40px;
}
.pricing .pricing-fc .boxb
{
	background-color:white;
	width:356px;
	height:457px;
	margin-top:150px;
	margin-right:40px;
}
.pricing .pricing-fc .boxc
{
	background-color:white;
	width:356px;
	height:457px;
	margin-top:150px;
	margin-right:40px;
}
.faq
{
	background-color:gray;
	height:600px;
}
.faq .faq-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	text-align:center;
	flex-wrap:wrap;
	
}
.faq .faq-fc .boxa
{
	width:817px;
	height:383px;
	margin-top:100px;
	background-color:white;

}
.team
{
	background-color:purple;
	height:692px;
	
}
.team .team-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	text-align:center;
}
.team .team-fc .boxs
{
	text-align:center;
	margin-top:80px;
	margin-top:90px;
}
.team .team-fc .boxa
{
	width:220px;
	height:350px;
	margin-top:150px;
	background-color:white;
	margin-right:40px;
}
.team .team-fc .boxb
{
	background-color:white;
	width:220px;
	height:350px;
	margin-top:150px;
	margin-right:40px;
}
.team .team-fc .boxc
{
	background-color:white;
	width:220px;
	height:350px;
	margin-top:150px;
	margin-right:40px;
}
.team .team-fc .boxd
{
	width:220px;
	height:350px;
	background-color:white;
	margin-top:150px;
	margin-right:40px;
}
.contact
{
	background-color:MediumPurple;
	height:665px;
}
.contact .contact-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	text-align:center;
}
.contact .contact-fc .boxa
{
	width:320px;
	height:147px;
	margin-top:250px;
	background-color:white;

}
.contact .contact-fc .boxb
{
	background-color:white;
	width:230px;
	height:44px;
	text-align:center;
	margin-top:50px;
	margin-left:100px;
}
.contact .contact-fc .boxc
{
	background-color:white;
	width:230px;
	height:44px;
	margin-top:50px;
	margin-left:20px;
}
.contact .contact-fc .boxd
{
	width:212px;
	height:168px;
	background-color:white;
	margin-top:30px;
	margin-bottom:40px;
	margin-right:60px;
}
.contact .contact-fc .boxe
{
	background-color:white;
	width:212px;
	height:168px;
	margin-top:30px;
	margin-right:90px;
}

.contact .contact-fc .boxf
{
	width:486px;
	height:44px;
	background-color:white;
	margin-bottom:10px;
}
.contact .contact-fc .boxg
{
	width:488px;
	height:130px;
	background-color:white;
	margin-top:0px;
	margin-bottom:50px;
	margin-left:570px;
}
.contact .contact-fc .boxh
{
	background-color:white;
	width:178px;
	height:50px;
	margin-bottom:200px;
	margin-left:500px;
}
.website
{
	background-color:gray;
	height:362px;
}
.website .website-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	text-align:center;
}
.website .website-fc .boxa
{
	width:200px;
	height:257px;
	margin-top:50px;
	background-color:white;
}
.website .website-fc .boxb
{
	background-color:white;
	width:172px;
	height:263px;
	margin-top:50px;
}
.website .website-fc .boxc
{
	background-color:white;
	width:193px;
	height:254px;
	margin-top:50px;
}
.website .website-fc .boxd
{
	width:405px;
	height:249px;
	background-color:white;
	margin-top:50px;
}
.copyright
{
	background-color:MediumPurple;
	height:134px;
}
